In [94]:
import re
import pandas as pd
import numpy as np

In [179]:
data = pd.read_csv('./yhoo_summary/yhoo_summary_ao_feb11.csv')

In [180]:
df = pd.DataFrame(data)
df

,DivYld,EPS,PE,_1YTargetEst,_52wkrange,avg_vol,beta,mktcap,name_tk,px
0,5.92 (3.27%),9.25,19.16,182.93,114.04 - 187.27,"2,761,219",0.95,102.622B,3M Company (MMM),177.21
1,1.80 (1.42%),2.50,50.68,134.88,61.61 - 126.87,"4,921,956",0.73,224.806B,Abbott Laboratories (ABT),126.84
2,5.20 (5.01%),2.72,38.14,120.48,62.55 - 113.41,"7,642,975",0.81,183.168B,AbbVie Inc. (ABBV),103.75
3,N/A (N/A),4.39,73.61,378.00,119.01 - 387.40,"308,061",1.39,14.606B,"Abiomed, Inc. (ABMD)",322.93
4,3.52 (1.37%),8.12,31.88,281.36,137.15 - 271.18,"1,895,051",1.12,171.584B,Accenture plc (ACN),258.97
...,...,...,...,...,...,...,...,...,...,...
500,2.00 (1.91%),2.94,35.88,112.50,54.95 - 110.66,"1,615,941",1.05,31.644B,"Yum! Brands, Inc. (YUM)",105.48
501,N/A (N/A),8.76,53.66,425.78,150.06 - 477.68,"357,119",1.63,25.063B,Zebra Technologies Corporation (ZBRA),470.08
502,0.96 (0.60%),-0.67,NaN,178.58,74.37 - 170.05,"1,163,751",1.35,33.623B,"Zimmer Biomet Holdings, Inc. (ZBH)",162.21
503,N/A (N/A),3.02,16.20,53.31,23.58 - 51.22,"2,001,685",1.60,8.026B,"Zions Bancorporation, National Association (ZION)",48.91
504,1.00 (0.61%),3.47,47.39,185.00,90.14 - 176.64,"1,759,987",0.64,78.153B,Zoetis Inc. (ZTS),164.44

In [181]:
df.columns = map(str.lower, df.columns)

In [182]:
df[['div','divyld']] = df['divyld'].str.split(' ', expand=True)

In [183]:
df['divyld']=df.divyld.str.replace('(','').str.replace(')','').str.replace('%','')

In [184]:
df['mktcap'] = df['mktcap'].str.replace('B','')

In [185]:
df.replace('N/A (N/A)', np.nan, inplace=True)
df.replace('N/A', np.nan, inplace=True)

In [217]:
data = pd.read_excel('summary.xlsx',index_col=0)

In [218]:
df = pd.DataFrame(data)

In [219]:
df

,name,divyld,eps,pe,_1ytargetest,52wk_low,52wk_high,avg_vol,beta,mktcap,px,div
ticker,,,,,,,,,,,,
MMM,3M Company,3.27,9.25,19.16,182.93,114.04,187.27,2761219,0.95,102.622,177.21,5.92
ABT,Abbott Laboratories,1.42,2.50,50.68,134.88,61.61,126.87,4921956,0.73,224.806,126.84,1.80
ABBV,AbbVie Inc.,5.01,2.72,38.14,120.48,62.55,113.41,7642975,0.81,183.168,103.75,5.20
ABMD,"Abiomed, Inc.",NaN,4.39,73.61,378.00,119.01,387.40,308061,1.39,14.606,322.93,NaN
ACN,Accenture plc,1.37,8.12,31.88,281.36,137.15,271.18,1895051,1.12,171.584,258.97,3.52
...,...,...,...,...,...,...,...,...,...,...,...,...
YUM,"Yum! Brands, Inc.",1.91,2.94,35.88,112.50,54.95,110.66,1615941,1.05,31.644,105.48,2.00
ZBRA,Zebra Technologies Corporation,NaN,8.76,53.66,425.78,150.06,477.68,357119,1.63,25.063,470.08,NaN
ZBH,"Zimmer Biomet Holdings, Inc.",0.60,-0.67,NaN,178.58,74.37,170.05,1163751,1.35,33.623,162.21,0.96
ZION,"Zions Bancorporation, National Association",NaN,3.02,16.20,53.31,23.58,51.22,2001685,1.60,8.026,48.91,NaN
ZTS,Zoetis Inc.,0.61,3.47,47.39,185.00,90.14,176.64,1759987,0.64,78.153,164.44,1.00

In [220]:
df.dtypes

name             object
divyld          float64
eps             float64
pe              float64
_1ytargetest    float64
52wk_low        float64
52wk_high       float64
avg_vol           int64
beta            float64
mktcap          float64
px              float64
div             float64
dtype: object

In [221]:
df.to_csv('summary.csv')

In [211]:
df['52wk_low'] = pd.to_numeric(df['52wk_low'], errors='coerce')

In [215]:
df['mktcap'] = pd.to_numeric(df['mktcap'], errors='coerce')

In [171]:
df[['divyld','eps']] = df[['divyld','eps']].apply(pd.to_numeric)
df[['_1ytargetest','avg_vol']] = df[['_1ytargetest','avg_vol']].apply(pd.to_numeric)

In [ ]:
df[['_1ytargetest','avg_vol']] = df[['_1ytargetest','avg_vol']].apply(pd.to_numeric)

In [176]:
df['pe'] = pd.to_numeric(df['pe'], errors='coerce')

In [ ]:
df[['name','ticker']] = df['name_tk'].str.split('\(', expand=True)

In [120]:
df['name_tk']

0                                       3M Company (MMM)
1                              Abbott Laboratories (ABT)
2                                     AbbVie Inc. (ABBV)
3                                   Abiomed, Inc. (ABMD)
4                                    Accenture plc (ACN)
                             ...
500                              Yum! Brands, Inc. (YUM)
501                Zebra Technologies Corporation (ZBRA)
502                   Zimmer Biomet Holdings, Inc. (ZBH)
503    Zions Bancorporation, National Association (ZION)
504                                    Zoetis Inc. (ZTS)
Name: name_tk, Length: 505, dtype: object

In [105]:
test = '3M Company (MMM)'

In [121]:
df['ticker'] = re.search(r'\(\w+\)',df['name_tk'])

TypeError: expected string or bytes-like object

In [103]:
df

,divyld,eps,pe,_1ytargetest,_52wkrange,avg_vol,beta,mktcap,name_tk,px,div
0,3.27,9.25,19.16,182.93,114.04 - 187.27,"2,761,219",0.95,102.622B,3M Company (MMM),177.21,5.92
1,1.42,2.50,50.68,134.88,61.61 - 126.87,"4,921,956",0.73,224.806B,Abbott Laboratories (ABT),126.84,1.80
2,5.01,2.72,38.14,120.48,62.55 - 113.41,"7,642,975",0.81,183.168B,AbbVie Inc. (ABBV),103.75,5.20
3,N/A,4.39,73.61,378.00,119.01 - 387.40,"308,061",1.39,14.606B,"Abiomed, Inc. (ABMD)",322.93,N/A
4,1.37,8.12,31.88,281.36,137.15 - 271.18,"1,895,051",1.12,171.584B,Accenture plc (ACN),258.97,3.52
...,...,...,...,...,...,...,...,...,...,...,...
500,1.91,2.94,35.88,112.50,54.95 - 110.66,"1,615,941",1.05,31.644B,"Yum! Brands, Inc. (YUM)",105.48,2.00
501,N/A,8.76,53.66,425.78,150.06 - 477.68,"357,119",1.63,25.063B,Zebra Technologies Corporation (ZBRA),470.08,N/A
502,0.60,-0.67,NaN,178.58,74.37 - 170.05,"1,163,751",1.35,33.623B,"Zimmer Biomet Holdings, Inc. (ZBH)",162.21,0.96
503,N/A,3.02,16.20,53.31,23.58 - 51.22,"2,001,685",1.60,8.026B,"Zions Bancorporation, National Association (ZION)",48.91,N/A
504,0.61,3.47,47.39,185.00,90.14 - 176.64,"1,759,987",0.64,78.153B,Zoetis Inc. (ZTS),164.44,1.00

In [63]:
df.loc[0,'divyld']

'5.92 (3.27%)'

In [54]:
df.dtypes

DivYld           object
EPS             float64
PE               object
_1YTargetEst     object
_52wkrange       object
avg_vol          object
beta            float64
mktcap           object
name_tk          object
px               object
dtype: object

In [ ]:
df = df.fillna(0)

In [46]:
df['PE'] = pd.to_numeric(df['PE'], errors='coerce')
df['EPS'] = pd.to_numeric(df['EPS'], errors='coerce')

In [48]:
df['new'] = df.PE + df.EPS

In [51]:
df

,False,False,False,False,True,True,True,True,True,True,True
0,5.92 (3.27%),9.25,19.16,182.93,114.04 - 187.27,"2,761,219",0.95,102.622B,3M Company (MMM),177.21,28.41
1,1.80 (1.42%),2.50,50.68,134.88,61.61 - 126.87,"4,921,956",0.73,224.806B,Abbott Laboratories (ABT),126.84,53.18
2,5.20 (5.01%),2.72,38.14,120.48,62.55 - 113.41,"7,642,975",0.81,183.168B,AbbVie Inc. (ABBV),103.75,40.86
3,N/A (N/A),4.39,73.61,378.00,119.01 - 387.40,"308,061",1.39,14.606B,"Abiomed, Inc. (ABMD)",322.93,78.00
4,3.52 (1.37%),8.12,31.88,281.36,137.15 - 271.18,"1,895,051",1.12,171.584B,Accenture plc (ACN),258.97,40.00
...,...,...,...,...,...,...,...,...,...,...,...
500,2.00 (1.91%),2.94,35.88,112.50,54.95 - 110.66,"1,615,941",1.05,31.644B,"Yum! Brands, Inc. (YUM)",105.48,38.82
501,N/A (N/A),8.76,53.66,425.78,150.06 - 477.68,"357,119",1.63,25.063B,Zebra Technologies Corporation (ZBRA),470.08,62.42
502,0.96 (0.60%),-0.67,NaN,178.58,74.37 - 170.05,"1,163,751",1.35,33.623B,"Zimmer Biomet Holdings, Inc. (ZBH)",162.21,NaN
503,N/A (N/A),3.02,16.20,53.31,23.58 - 51.22,"2,001,685",1.60,8.026B,"Zions Bancorporation, National Association (ZION)",48.91,19.22
504,1.00 (0.61%),3.47,47.39,185.00,90.14 - 176.64,"1,759,987",0.64,78.153B,Zoetis Inc. (ZTS),164.44,50.86

In [50]:
data.columns = data.columns.str.islower()

In [45]:
df.dtypes

DivYld           object
EPS             float64
PE              float64
_1YTargetEst     object
_52wkrange       object
avg_vol          object
beta            float64
mktcap           object
name_tk          object
px               object
dtype: object

In [30]:
df.type

AttributeError: 'DataFrame' object has no attribute 'type'

In [27]:
df['EPS'] = df['EPS'].astype(int)

In [29]:
df.DivYld

0      5.92 (3.27%)
1      1.80 (1.42%)
2      5.20 (5.01%)
3         N/A (N/A)
4      3.52 (1.37%)
           ...
500    2.00 (1.91%)
501       N/A (N/A)
502    0.96 (0.60%)
503       N/A (N/A)
504    1.00 (0.61%)
Name: DivYld, Length: 505, dtype: object

In [14]:
df['New'] = df.DivYld.apply(lambda x: x[:1])

TypeError: 'float' object is not subscriptable

In [16]:
df['new'] = int(df['PE'])+ int(df['EPS'])

TypeError: cannot convert the series to <class 'int'>

In [10]:
df['div'] = df['DivYld'].apply(lambda x: re.findall('(.\...)[0]', x))

TypeError: expected string or bytes-like object

In [71]:
test = '5.92 (3.27%)'

In [73]:
re.findall('(.\...)', test)[1]

'3.27'