In [8]:
import re
import pandas as pd
import numpy as np

In [9]:
data = pd.read_excel('yhoo_stats_selenium.xlsx',index_col=0)

In [10]:
df = pd.DataFrame(data)

In [11]:
df

,name,ev,trail_pe,fwd_pe,peg,px2sales,px2book,ev2rev,ev2ebitda
ticker,,,,,,,,,
MMM,3M Company,119.50,19.56,18.76,3.05,3.27,8.14,3.71,13.06
ABT,Abbott Laboratories,234.49,50.00,24.81,2.64,6.43,7.03,6.78,30.85
ABBV,AbbVie Inc.,262.28,39.68,8.39,NaN,4.00,12.00,5.73,46.19
ABMD,"Abiomed, Inc.",14.34,74.68,NaN,NaN,18.39,11.76,17.64,57.81
ACN,Accenture plc,162.74,31.22,30.77,3.48,3.67,9.37,3.64,18.41
...,...,...,...,...,...,...,...,...,...
YUM,"Yum! Brands, Inc.",41.64,35.88,26.32,2.36,5.73,NaN,7.37,24.36
ZBRA,Zebra Technologies Corporation,26.70,53.72,31.95,3.88,5.87,12.98,6.00,34.14
ZBH,"Zimmer Biomet Holdings, Inc.",40.45,819.71,20.20,41.26,4.71,2.72,5.76,41.69
ZION,"Zions Bancorporation, National Association",NaN,16.42,11.19,1.19,2.94,1.11,NaN,NaN
ZTS,Zoetis Inc.,77.52,44.45,35.46,3.50,11.29,20.35,11.85,28.89

In [12]:
df.dtypes

name          object
ev           float64
trail_pe     float64
fwd_pe       float64
peg          float64
px2sales     float64
px2book      float64
ev2rev       float64
ev2ebitda    float64
dtype: object

In [14]:
df.sample(10)

,name,ev,trail_pe,fwd_pe,peg,px2sales,px2book,ev2rev,ev2ebitda
ticker,,,,,,,,,
OKE,"ONEOK, Inc.",32.95,29.14,13.95,2.52,2.10,3.10,3.82,16.19
PPG,"PPG Industries, Inc.",31.17,31.56,19.53,33.67,2.41,6.38,2.25,15.52
RSG,"Republic Services, Inc.",37.48,28.38,24.39,2.84,2.85,3.45,3.69,13.64
TT,Trane Technologies plc,37.76,37.06,28.65,18.13,2.91,5.57,3.03,20.62
AVY,Avery Dennison Corporation,16.33,26.23,22.27,3.90,2.09,9.64,2.34,16.12
ABC,AmerisourceBergen Corporation,20.21,13.93,12.47,5.94,0.11,5.58,0.10,-4.55
CDW,CDW Corporation,25.94,31.03,23.47,NaN,1.27,18.17,1.40,22.42
PAYX,"Paychex, Inc.",33.07,31.27,29.59,5.53,8.33,11.44,8.32,20.44
AVB,"AvalonBay Communities, Inc.",32.33,30.38,46.73,7.37,10.92,2.32,14.05,18.52
MRO,Marathon Oil Corporation,11.05,17.28,NaN,NaN,1.80,0.58,3.15,6.05

In [15]:
df.describe

<bound method NDFrame.describe of                                                name      ev  trail_pe  fwd_pe  \
ticker
MMM                                     3M Company   119.50     19.56   18.76
ABT                            Abbott Laboratories   234.49     50.00   24.81
ABBV                                   AbbVie Inc.   262.28     39.68    8.39
ABMD                                 Abiomed, Inc.    14.34     74.68     NaN
ACN                                  Accenture plc   162.74     31.22   30.77
...                                             ...     ...       ...     ...
YUM                              Yum! Brands, Inc.    41.64     35.88   26.32
ZBRA                Zebra Technologies Corporation    26.70     53.72   31.95
ZBH                   Zimmer Biomet Holdings, Inc.    40.45    819.71   20.20
ZION    Zions Bancorporation, National Association      NaN     16.42   11.19
ZTS                                    Zoetis Inc.    77.52     44.45   35.46

          peg  px2sales  px2book  ev2rev  ev2ebitda
ticker
MMM      3.05      3.27     8.14    3.71      13.06
ABT      2.64      6.43     7.03    6.78      30.85
ABBV      NaN      4.00    12.00    5.73      46.19
ABMD      NaN     18.39    11.76   17.64      57.81
ACN      3.48      3.67     9.37    3.64      18.41
...       ...       ...      ...     ...        ...
YUM      2.36      5.73      NaN    7.37      24.36
ZBRA     3.88      5.87    12.98    6.00      34.14
ZBH     41.26      4.71     2.72    5.76      41.69
ZION     1.19      2.94     1.11     NaN        NaN
ZTS      3.50     11.29    20.35   11.85      28.89

[504 rows x 9 columns]>

In [16]:
df.to_csv('stats_selenium.csv')