In [2]:
import pandas as pd
import numpy as np
import re

In [2]:
data = pd.read_csv('convert_toy_sample.csv')

In [3]:
df = pd.DataFrame(data)

In [58]:
df.dtypes

EBITDA    object
dtype: object

In [63]:
df

      EBITDA
0      8.92B
1         9B
2     21.53B
3    250.56M
4      7.41B
..       ...
499     1.8B
500     785M
501       2B
502      NaN
503    2.78B

[504 rows x 1 columns]

In [ ]:
df[['EBITDA']].apply(split)

In [ ]:
df1.iloc[[0,2], :2]

In [64]:
eug = df.iloc[2]

In [65]:
eug

EBITDA    21.53B
Name: 2, dtype: object

In [ ]:
data2 =

In [48]:
t = '702.07M'
t2 = '6.21B'

In [17]:
def split(x):
    x=str(x)
    print(x)
    try:
        num = float(re.findall(r'(.+)([BTM])',x)[0][0])
        scale = re.findall(r'(.+)([BTM])',x)[0][1]
        if scale == "B":
            return num
        elif scale == "T":
            return num*1000
        elif scale == "M":
            return num/1000
    except:
        return x

In [4]:
data2 = pd.read_csv('yhoo_stats.csv')

In [5]:
df = pd.DataFrame(data2)

In [21]:
df['cash'] = df['cash'].map(split)

5.05B
4.73B
7.96B
486.45M
8.68B
8.65B
5.99B
2.29B
1.07B
1.89B
nan
1.44B
6.21B
1.1B
3.35B
702.07M
568.53M
3B
960.84M
428.9M
189M
8.18B
136.69B
136.69B
4.94B
84.4B
762M
6M
6.86B
618.7M
33B
23.63B
1.63B
578M
6.85B
4.89B
1.21B
10.65B
1.74B
1.06B
845.21M
30.73B
1.19B
689.6M
162M
76.83B
5.74B
2.82B
667M
2.85B
664.6M
nan
9.74B
514.08M
1.62B
1.61B
1.71B
216.98M
252.3M
4.13B
1.37B
937.1B
211.51B
4.36B
3.26B
nan
5.82B
1.15B
2.61B
6.32B
25.59B
11.2B
2.12B
1.67B
nan
16.45B
7.62B
366.2M
243.8M
170k
1.31B
722M
40.51B
3.74B
236.64M
9.51B
3.12B
833.1M
8.82B
337.8M
1.48B
1.41B
1.49B
12.38B
1.06B
1.06B
553M
57.56B
998M
6.89B
951.6M
6.09B
183.1M
11.51B
900M
703.17M
30.59B
979.41B
14.95B
877.01M
732M
1.73B
168M
10.91B
2.72B
925M
11.74B
16.23B
68M
7.86B
153M
152.9M
115.9M
605.73M
2.67B
3.8B
14.42B
232M
3.13B
3.86B
12.09B
2.39B
6.03B
777.3M
729.87M
6.83B
14.1B
1.27B
1.71B
2.6B
92M
971.31M
25.7B
2.16B
2.16B
2.8B
2.2B
1.12B
425M
330.72M
513.08M
5.15B
945M
311M
6.31M
2.54B
3.92B
650M
1.1B
3.83B
1.03B
92M
1.4B
6.71B
2.2B
679.38M
1.24B
3.07B
1.68B
1.6B
178.33M
84.04M
5.56B
1.52B
361.6M
729.99M
1.94B
1.86B
3.39B
1.47B
74.8M
8.83B
1.37B
61.95B
245.7M
863.28M
8.34B
1.96B
3.71B
260M
5.09B
906M
934.9M
320.72M
921.18M
568.9M
30.75B
1.84B
2.94B
419.1M
4.5B
4.5B
3.98B
3.66B
2.65B
1.65B
553.72M
nan
30.13B
2.58B
23.94B
900.12M
7.91B
343.98M
1.95B
550B
585M
2.56B
909.44M
3.43B
1.45B
1.79B
44.23M
533.5M
1.14B
1.74B
3.5B
3.4B
1.52B
868.7M
14.65B
15.22B
1.73B
2.43B
1.61B
5.14B
17.23B
6.77B
744M
1.03B
383.93M
125.6M
2.56B
3.32B
1.8B
1.31B
23.89B
583M
13.81B
5.45B
1.63B
656.84M
5.79B
5.17B
1.41B
1.3B
1.9B
151.97M
147.76M
1.38B
313.3M
405.6M
30.78B
1.84B
1.33T
1.77B
188.2M
435M
1.83B
1.76B
303M
324.98M
1.3B
2.3B
2.72B
2.18B
2.62B
1.28B
667.2M
6.04B
763.9M
2.12B
348.9M
512M
2.75B
3.63B
6.21B
3.75B
2.63B
421.38M
3.16B
5.19B
10.1B
406M
2.46B
26.29B
1.12B
618M
460.86M
1.58B
2.09B
207.3M
1.33B
10.6B
423.6M
1.81B
3.45B
3.58B
14.28B
7.36B
23.7B
94.25M
5.1B
372.7M
7.03B
131.99B
25.2M
1.19B
731.3M
3.63B
1.67B
2.59B
578.41B
923M
1.25B
1.3B
2.94B
3.65B
8.21B
858M
5.14B
1.56B
1.56B
1.1B
2.25B
11.81B
58.6M
1.12B
3.77B
4.91B
1.07B
2.36B
1.69B
697M
3.05B
10.14B
2.71B
465.64M
1.9B
731.7M
3.28B
447.13M
38.61B
1.78B
4.83B
1.05B
608.05M
868.4M
151.71M
82.1M
477.3M
13.08B
9.55B
402.04M
852.7M
10.52B
7.28B
1.46B
181.93M
1.39B
7.29B
74.75M
2.1B
746M
4.49B
11.94B
5.22B
598.09M
25.42B
966M
293.96M
2.6B
1.46B
1.23B
216.94M
12.3B
1.16B
2.79B
15.4B
8.8B
724.75M
276.55M
3.59B
17.96B
406.4M
255.86M
587M
731.1M
98.48M
308.3M
4.42B
3.02B
4.12B
9.49B
271.87M
3.01B
1.8B
548.7M
3.52B
3.09B
226.6M
1.01B
1.02B
266.06M
923.2M
3.38B
13.33B
1.38B
5.26B
124.35B
252.5M
3.02B
17.67B
11.52B
1.24B
5.79B
10.39B
2.15B
2.42B
1.65B
6.02B
1.1B
4.36B
673.1M
373.28M
1.44B
19.38B
6.57B
2.15B
10.33B
10.58B
1.34B
3.29B
4.91B
6.23B
237.7M
24.48B
7.47B
709.15M
1.42B
1.41M
560.9M
62.58B
1.52B
1.52B
1.86B
11.68B
19.78B
6.32B
202M
1.1B
1.67B
4.05B
773.3M
588.34M
1.15B
225.5M
22.17B
6.66B
3.85B
3.09B
744.5M
18.04B
nan
1.41B
1.08B
3.17B
559.3M
14.33B
1.11B
17.91B
703M
443.15M
24.8M
431.23B
1.55B
519.4M
2.96B
1.43B
253.8M
495M
2.92B
70M
2.09B
3.55B
904M
2.62B
3.32B
1.88B
730M
39M
802.1M
7.65B
3.66B

In [22]:
df['cash']

0         5.05
1         4.73
2         7.96
3      0.48645
4         8.68
        ...
499       0.73
500      0.039
501     0.8021
502       7.65
503       3.66
Name: cash, Length: 504, dtype: object

In [24]:
df.to_csv('fuckyea.csv')