In [ ]:
import re
import pandas as pd
import numpy as np

In [44]:
data2 = pd.read_csv('statistics1.csv')

In [48]:
df2 = pd.DataFrame(data2)

In [72]:
df2.to_csv('statistics2.csv')

In [71]:
df2.set_index('ticker')

,ebitda_b,eps,ni_b,q_earnings_gr,q_rev_gr,roa,roe,rev_b,_5y_div_yld,bv_per_sh,...,oper_margin,payout_ratio,profit_margin,rev_sh,sh_float,sh_short,shares_out,short_ratio,short_to_float,short_to_out
ticker,,,,,,,,,,,,,,,,,,,,,
MMM,8.92000,9.25,5.38000,43.30%,5.80%,9.53%,46.74%,32.18000,2.83,22.27,...,21.79%,63.57%,16.73%,55.72,578.52M,7.79M,577.75M,2.30,1.35%,1.35%
ABT,9.00000,2.50,4.47000,106.10%,28.70%,NaN,14.22%,34.61000,1.84,17.71,...,16.53%,57.83%,12.99%,19.38,1.76B,11.52M,1.77B,2.16,0.67%,0.65%
ABBV,21.53000,2.72,4.62000,-98.70%,59.20%,NaN,129.89%,45.80000,4.14,8.65,...,34.17%,180.53%,10.08%,27.38,1.74B,14.87M,1.77B,1.99,0.84%,0.84%
ABMD,0.25056,4.39,0.20047,-10.60%,4.50%,10.82%,17.37%,0.81293,NaN,27.89,...,27.96%,0.00%,24.66%,18.03,44.24M,1.5M,45.23M,3.96,3.81%,3.32%
ACN,7.41000,8.12,5.25000,10.60%,3.50%,11.61%,31.34%,44.73000,1.67,28.26,...,14.84%,40.39%,11.74%,70.34,633.2M,4.61M,661.13M,2.45,0.70%,0.70%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
YUM,1.80000,2.94,0.90400,-32.00%,2.90%,18.70%,NaN,5.65000,1.88,-26.30,...,29.33%,63.95%,15.99%,18.72,299.35M,3.63M,300M,2.34,1.21%,1.21%
ZBRA,0.78500,8.76,0.47400,-14.70%,0.20%,8.11%,26.15%,4.33000,NaN,36.23,...,14.91%,0.00%,10.94%,80.84,52.88M,487.92k,53.32M,1.35,1.05%,0.92%
ZBH,2.00000,-0.67,-0.13890,4.10%,-1.90%,2.45%,-1.12%,7.02000,0.78,58.82,...,13.71%,NaN,-1.98%,33.94,207.14M,2.73M,207.28M,2.33,1.32%,1.32%
ZION,NaN,3.02,0.50500,55.20%,10.40%,0.72%,7.07%,2.40000,1.96,44.61,...,29.02%,45.03%,22.41%,14.69,161.78M,3.03M,164.09M,1.98,2.16%,1.85%
ZTS,2.78000,3.47,1.66000,10.60%,12.80%,11.85%,52.89%,6.54000,0.60,7.58,...,36.23%,22.02%,25.42%,13.75,474.57M,3.69M,475.27M,2.15,0.78%,0.78%

In [54]:
df2

,ticker,ebitda_b,eps,ni_b,q_earnings_gr,q_rev_gr,roa,roe,rev_b,_5y_div_yld,...,oper_margin,payout_ratio,profit_margin,rev_sh,sh_float,sh_short,shares_out,short_ratio,short_to_float,short_to_out
0,MMM,8.92000,9.25,5.38000,43.30%,5.80%,9.53%,46.74%,32.18000,2.83,...,21.79%,63.57%,16.73%,55.72,578.52M,7.79M,577.75M,2.30,1.35%,1.35%
1,ABT,9.00000,2.50,4.47000,106.10%,28.70%,NaN,14.22%,34.61000,1.84,...,16.53%,57.83%,12.99%,19.38,1.76B,11.52M,1.77B,2.16,0.67%,0.65%
2,ABBV,21.53000,2.72,4.62000,-98.70%,59.20%,NaN,129.89%,45.80000,4.14,...,34.17%,180.53%,10.08%,27.38,1.74B,14.87M,1.77B,1.99,0.84%,0.84%
3,ABMD,0.25056,4.39,0.20047,-10.60%,4.50%,10.82%,17.37%,0.81293,NaN,...,27.96%,0.00%,24.66%,18.03,44.24M,1.5M,45.23M,3.96,3.81%,3.32%
4,ACN,7.41000,8.12,5.25000,10.60%,3.50%,11.61%,31.34%,44.73000,1.67,...,14.84%,40.39%,11.74%,70.34,633.2M,4.61M,661.13M,2.45,0.70%,0.70%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,YUM,1.80000,2.94,0.90400,-32.00%,2.90%,18.70%,NaN,5.65000,1.88,...,29.33%,63.95%,15.99%,18.72,299.35M,3.63M,300M,2.34,1.21%,1.21%
500,ZBRA,0.78500,8.76,0.47400,-14.70%,0.20%,8.11%,26.15%,4.33000,NaN,...,14.91%,0.00%,10.94%,80.84,52.88M,487.92k,53.32M,1.35,1.05%,0.92%
501,ZBH,2.00000,-0.67,-0.13890,4.10%,-1.90%,2.45%,-1.12%,7.02000,0.78,...,13.71%,NaN,-1.98%,33.94,207.14M,2.73M,207.28M,2.33,1.32%,1.32%
502,ZION,NaN,3.02,0.50500,55.20%,10.40%,0.72%,7.07%,2.40000,1.96,...,29.02%,45.03%,22.41%,14.69,161.78M,3.03M,164.09M,1.98,2.16%,1.85%
503,ZTS,2.78000,3.47,1.66000,10.60%,12.80%,11.85%,52.89%,6.54000,0.60,...,36.23%,22.02%,25.42%,13.75,474.57M,3.69M,475.27M,2.15,0.78%,0.78%

In [53]:
df2.astype('float', errors='ignore').dtypes

ticker             object
ebitda_b          float64
eps               float64
ni_b              float64
q_earnings_gr      object
q_rev_gr           object
roa                object
roe                object
rev_b             float64
_5y_div_yld       float64
bv_per_sh         float64
cash_b             object
cash_per_sh        object
curr_ratio        float64
debt_b            float64
debt_to_eq         object
fcf_b             float64
fwd_div           float64
fwd_div_yld        object
gross_profit_b    float64
insiders           object
institution        object
op_cf_b           float64
oper_margin        object
payout_ratio       object
profit_margin      object
rev_sh             object
sh_float           object
sh_short           object
shares_out         object
short_ratio       float64
short_to_float     object
short_to_out       object
dtype: object

In [ ]:
data = pd.read_csv('yhoo_stats2.csv')

In [ ]:
df = pd.DataFrame(data)

In [37]:
df

,ticker,ebitda,eps,ni,q_earnings_gr,q_rev_gr,roa,roe,rev,_5y_div_yld,...,oper_margin,payout_ratio,profit_margin,rev_sh,sh_float,sh_short,shares_out,short_ratio,short_to_float,short_to_out
0,MMM,8.92,9.25,5.38,43.30%,5.80%,9.53%,46.74%,32.18,2.83,...,21.79%,63.57%,16.73%,55.72,578.52M,7.79M,577.75M,2.30,1.35%,1.35%
1,ABT,9,2.5,4.47,106.10%,28.70%,NaN,14.22%,34.61,1.84,...,16.53%,57.83%,12.99%,19.38,1.76B,11.52M,1.77B,2.16,0.67%,0.65%
2,ABBV,21.53,2.72,4.62,-98.70%,59.20%,NaN,129.89%,45.8,4.14,...,34.17%,180.53%,10.08%,27.38,1.74B,14.87M,1.77B,1.99,0.84%,0.84%
3,ABMD,0.25056,4.39,0.20047,-10.60%,4.50%,10.82%,17.37%,0.81293,NaN,...,27.96%,0.00%,24.66%,18.03,44.24M,1.5M,45.23M,3.96,3.81%,3.32%
4,ACN,7.41,8.12,5.25,10.60%,3.50%,11.61%,31.34%,44.73,1.67,...,14.84%,40.39%,11.74%,70.34,633.2M,4.61M,661.13M,2.45,0.70%,0.70%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,YUM,1.8,2.94,0.904,-32.00%,2.90%,18.70%,NaN,5.65,1.88,...,29.33%,63.95%,15.99%,18.72,299.35M,3.63M,300M,2.34,1.21%,1.21%
500,ZBRA,0.785,8.76,0.474,-14.70%,0.20%,8.11%,26.15%,4.33,NaN,...,14.91%,0.00%,10.94%,80.84,52.88M,487.92k,53.32M,1.35,1.05%,0.92%
501,ZBH,2,-0.67,-0.1389,4.10%,-1.90%,2.45%,-1.12%,7.02,0.78,...,13.71%,NaN,-1.98%,33.94,207.14M,2.73M,207.28M,2.33,1.32%,1.32%
502,ZION,nan,3.02,0.505,55.20%,10.40%,0.72%,7.07%,2.4,1.96,...,29.02%,45.03%,22.41%,14.69,161.78M,3.03M,164.09M,1.98,2.16%,1.85%
503,ZTS,2.78,3.47,1.66,10.60%,12.80%,11.85%,52.89%,6.54,0.60,...,36.23%,22.02%,25.42%,13.75,474.57M,3.69M,475.27M,2.15,0.78%,0.78%

In [ ]:
df.columns = map(str.lower, df.columns)

In [38]:
df.dtypes

ticker             object
ebitda             object
eps                object
ni                 object
q_earnings_gr      object
q_rev_gr           object
roa                object
roe                object
rev                object
_5y_div_yld       float64
bv_per_sh         float64
cash               object
cash_per_sh        object
curr_ratio        float64
debt               object
debt_to_eq         object
fcf                object
fwd_div           float64
fwd_div_yld        object
gross_profit       object
insiders           object
institution        object
op_cf              object
oper_margin        object
payout_ratio       object
profit_margin      object
rev_sh             object
sh_float           object
sh_short           object
shares_out         object
short_ratio       float64
short_to_float     object
short_to_out       object
dtype: object

In [10]:
def TBM(x):
    '''
    converts columns that have mix of $ Trillion, Billions and Millions to Billions
    '''
    x=str(x)
    print(x)
    try:
        num = float(re.findall(r'(.+)([BTM])',x)[0][0])
        scale = re.findall(r'(.+)([BTM])',x)[0][1]
        if scale == "B":
            return num
        elif scale == "T":
            return num*1000
        elif scale == "M":
            return num/1000
    except:
        return x

In [ ]:
df['op_cf'] = df['op_cf'].apply(TBM)

In [40]:
df.to_csv('statistics1.csv')

In [ ]:
df[['div','divyld']] = df['divyld'].str.split(' ', expand=True)

In [ ]:
df['divyld']=df.divyld.str.replace('(','').str.replace(')','').str.replace('%','')

In [ ]:
df['mktcap'] = df['mktcap'].str.replace('B','')

In [ ]:
df.replace('N/A (N/A)', np.nan, inplace=True)
df.replace('N/A', np.nan, inplace=True)

In [ ]:
df.dtypes

In [ ]:
df.to_csv('summary.csv')

In [ ]:
df['52wk_low'] = pd.to_numeric(df['52wk_low'], errors='coerce')

In [ ]:
df['mktcap'] = pd.to_numeric(df['mktcap'], errors='coerce')

In [ ]:
df[['divyld','eps']] = df[['divyld','eps']].apply(pd.to_numeric)
df[['_1ytargetest','avg_vol']] = df[['_1ytargetest','avg_vol']].apply(pd.to_numeric)

In [ ]:
df[['_1ytargetest','avg_vol']] = df[['_1ytargetest','avg_vol']].apply(pd.to_numeric)

In [ ]:
df['pe'] = pd.to_numeric(df['pe'], errors='coerce')

In [ ]:
df[['name','ticker']] = df['name_tk'].str.split('\(', expand=True)

In [ ]:
df['name_tk']

In [ ]:
df.loc[0,'divyld']

In [ ]:
df.dtypes

In [ ]:
df = df.fillna(0)

In [ ]:
df['PE'] = pd.to_numeric(df['PE'], errors='coerce')
df['EPS'] = pd.to_numeric(df['EPS'], errors='coerce')

In [ ]:
df['new'] = df.PE + df.EPS

In [ ]:
df

In [ ]:
data.columns = data.columns.str.islower()

In [ ]:
df.dtypes

In [ ]:
df.type

In [ ]:
df['EPS'] = df['EPS'].astype(int)

In [ ]:
df.DivYld

In [ ]:
df['New'] = df.DivYld.apply(lambda x: x[:1])

In [ ]:
df['new'] = int(df['PE'])+ int(df['EPS'])

In [ ]:
df['div'] = df['DivYld'].apply(lambda x: re.findall('(.\...)[0]', x))

In [ ]:
test = '5.92 (3.27%)'

In [ ]:
re.findall('(.\...)', test)[1]